@media (min-width: 770px) {
    .option:hover {
        font-family: 'Courier New', Courier, monospace;
        background-color: #f8f8f8;
        color: rgb(26, 26, 26);
        height: 100%;
        font-size: 19px;
        font-weight: bold;
        transition: 200ms;

    }
    .icon{
        display: none;
    }
    .navbar{
        height: auto;
    }

    .contenido {
        padding-top: 80px;
    }
    /*animation hover nav from top to nav*/
}
.lista .active{
    background-color: #f8f8f8;
    color: rgb(26, 26, 26);
    height: 100%;
    font-size: 19px;
    font-weight: bold;
    transition: 200ms;
}
@media (max-width: 770px) {
    .contenido {
        padding-top: 3%;
    }
    .navbar {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;

        color: white;
        text-align: center;
    }
    .logocomp{
        display: none;
    }
    .link{
        display: none;
    }
    /*animation hover nav from top to nav*/
    .containernav{
        
        left: 0;
        bottom: 0;
        width: 100%;
        color: white;
        justify-content: center;
        width: 100%;
        
    }
    .navbar{
        height: auto;
    }
    .icon{
        font-size: 30px;
        margin-left: 10px;
        margin-right: 10px;
    }
    
}

.boton-regresar{
    animation: breathing 1s infinite;
}

@keyframes breathing {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}
/*backgorund space animation for error 404*/
.background404{

    background: gradient(linear, left top, right top, from(#000000), to(#353535), color-stop(0.5, #071033));
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    animation: space 10s infinite;
}

@keyframes space {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 100% 0;
    }
}
